In [86]:
# !pip install pandas pyarrow
import pandas as pd

In [66]:
df1 = pd.read_csv('dados/venda_passagem_12_2019.csv',
                  sep=';',
                  encoding='latin1',
                  decimal=',',
                  thousands='.',
                  on_bad_lines='skip'
)

In [67]:
df2 = pd.read_csv('dados/venda_passagem_11_2019.csv',
                  sep=';',
                  encoding='latin1',
                  decimal=',',
                  thousands='.',
                  on_bad_lines='skip'
)

In [68]:
df3 = pd.read_csv('dados/venda_passagem_03_2019.csv',
                  sep=';',
                  encoding='latin1',
                  decimal=',',
                  thousands='.',
                  on_bad_lines='skip'
)

In [69]:
df4 = pd.read_csv('dados/venda_passagem_01_2020.csv',
                  sep=';',
                  encoding='latin1',
                  decimal=',',
                  thousands='.',
                  on_bad_lines='skip'
)

In [70]:
df_final = pd.concat([df1, df2, df3, df4], ignore_index=True)

In [71]:
df_final.head()

,codigo_viagem,cnpj,numero_equipamento_fiscal,numero_bilhete,data_emissao_bilhete,hora_emissao_bilhete,categoria_transporte,nu_linha,origem_destino_linha,ponto_origem_viagem,...,plataforma_embarque,tipo_gratitude,valor_tarifa,valor_percentual_desconto,valor_aliquota_icms,valor_pedagio,valor_taxa_embarque,valor_total,origem_emissao,in_passagem_cancelada
0,2355826,30069314000101,33191230069314000101,3683057,14-12-2019,06:49:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11002,0,2000,783,614,12399,Não Se Aplica,NÃO
1,2410799,30069314000101,33191230069314000101,4111198,29-12-2019,06:38:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11202,0,2000,783,614,11600,Não Se Aplica,NÃO
2,2382193,30069314000101,33191230069314000101,3758997,17-12-2019,08:30:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11202,0,2000,783,614,12599,Não Se Aplica,NÃO
3,2329070,30069314000101,33191130069314000101,3288636,27-11-2019,21:01:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11002,0,2000,783,614,6900,Não Se Aplica,NÃO
4,2335327,61084018000103,31191261084018004877,395145,01-12-2019,12:38:00,Interestadual,6031561,JUIZ DE FORA(MG) - SANTOS(SP),JUIZ DE FORA/MG,...,10,Tarifa Normal - sem desconto,16029,0,1800,1045,525,17599,Não Se Aplica,NÃO

In [72]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9066079 entries, 0 to 9066078
Data columns (total 26 columns):
 #   Column                     Dtype
---  ------                     -----
 0   codigo_viagem              int64
 1   cnpj                       int64
 2   numero_equipamento_fiscal  object
 3   numero_bilhete             int64
 4   data_emissao_bilhete       object
 5   hora_emissao_bilhete       object
 6   categoria_transporte       object
 7   nu_linha                   int64
 8   origem_destino_linha       object
 9   ponto_origem_viagem        object
 10  ponto_destino_viagem       object
 11  tipo_servico               object
 12  data_viagem                object
 13  hora_viagem                object
 14  tipo_viagem                object
 15  numero_poltrona            int64
 16  plataforma_embarque        object
 17  tipo_gratitude             object
 18  valor_tarifa               int64
 19  valor_percentual_desconto  int64
 20  valor_aliquota_icms        int64
 21  valor_pedagio              int64
 22  valor_taxa_embarque        int64
 23  valor_total                int64
 24  origem_emissao             object
 25  in_passagem_cancelada      object
dtypes: int64(11), object(15)
memory usage: 1.8+ GB

In [73]:
# Conversão de compos VALOR
df_final['valor_tarifa'] = df_final['valor_tarifa'].astype(float)
df_final['valor_percentual_desconto'] = df_final['valor_percentual_desconto'].astype(float)
df_final['valor_aliquota_icms'] = df_final['valor_aliquota_icms'].astype(float)
df_final['valor_pedagio'] = df_final['valor_pedagio'].astype(float)
df_final['valor_taxa_embarque'] = df_final['valor_taxa_embarque'].astype(float)
df_final['valor_total'] = df_final['valor_total'].astype(float)

In [78]:
# Conversão de compos DATA e HORA
df_final['data_emissao_bilhete'] = df_final['data_emissao_bilhete'].astype('datetime64[ns]')
df_final['data_viagem'] = df_final['data_viagem'].astype('datetime64[ns]')
# df_final['data_viagem'] = pd.to_datetime(df_final['data_viagem'], format='%Y-%m-%d')
# df_final['data_emissao_bilhete'] = pd.to_datetime(df_final['data_emissao_bilhete'], format='%Y-%m-%d')
# df_final['data_emissao_bilhete'] = pd.to_datetime(df_final['data_emissao_bilhete'], format='%Y-%m-%d')
# f_final['data_viagem'] = pd.to_datetime(df_final['data_viagem'], format='%Y-%m-%d')

In [79]:
df_final.head()

,codigo_viagem,cnpj,numero_equipamento_fiscal,numero_bilhete,data_emissao_bilhete,hora_emissao_bilhete,categoria_transporte,nu_linha,origem_destino_linha,ponto_origem_viagem,...,plataforma_embarque,tipo_gratitude,valor_tarifa,valor_percentual_desconto,valor_aliquota_icms,valor_pedagio,valor_taxa_embarque,valor_total,origem_emissao,in_passagem_cancelada
0,2355826,30069314000101,33191230069314000101,3683057,2019-12-14,1900-01-01 06:49:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11002.0,0.0,2000.0,783.0,614.0,12399.0,Não Se Aplica,NÃO
1,2410799,30069314000101,33191230069314000101,4111198,2019-12-29,1900-01-01 06:38:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11202.0,0.0,2000.0,783.0,614.0,11600.0,Não Se Aplica,NÃO
2,2382193,30069314000101,33191230069314000101,3758997,2019-12-17,1900-01-01 08:30:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11202.0,0.0,2000.0,783.0,614.0,12599.0,Não Se Aplica,NÃO
3,2329070,30069314000101,33191130069314000101,3288636,2019-11-27,1900-01-01 21:01:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11002.0,0.0,2000.0,783.0,614.0,6900.0,Não Se Aplica,NÃO
4,2335327,61084018000103,31191261084018004877,395145,2019-01-12,1900-01-01 12:38:00,Interestadual,6031561,JUIZ DE FORA(MG) - SANTOS(SP),JUIZ DE FORA/MG,...,10,Tarifa Normal - sem desconto,16029.0,0.0,1800.0,1045.0,525.0,17599.0,Não Se Aplica,NÃO

In [76]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9066079 entries, 0 to 9066078
Data columns (total 26 columns):
 #   Column                     Dtype
---  ------                     -----
 0   codigo_viagem              int64
 1   cnpj                       int64
 2   numero_equipamento_fiscal  object
 3   numero_bilhete             int64
 4   data_emissao_bilhete       datetime64[ns]
 5   hora_emissao_bilhete       object
 6   categoria_transporte       object
 7   nu_linha                   int64
 8   origem_destino_linha       object
 9   ponto_origem_viagem        object
 10  ponto_destino_viagem       object
 11  tipo_servico               object
 12  data_viagem                datetime64[ns]
 13  hora_viagem                object
 14  tipo_viagem                object
 15  numero_poltrona            int64
 16  plataforma_embarque        object
 17  tipo_gratitude             object
 18  valor_tarifa               float64
 19  valor_percentual_desconto  float64
 20  valor_aliquota_icms        float64
 21  valor_pedagio              float64
 22  valor_taxa_embarque        float64
 23  valor_total                float64
 24  origem_emissao             object
 25  in_passagem_cancelada      object
dtypes: datetime64[ns](2), float64(6), int64(5), object(13)
memory usage: 1.8+ GB

In [83]:
df_final.head()

,codigo_viagem,cnpj,numero_equipamento_fiscal,numero_bilhete,data_emissao_bilhete,hora_emissao_bilhete,categoria_transporte,nu_linha,origem_destino_linha,ponto_origem_viagem,...,plataforma_embarque,tipo_gratitude,valor_tarifa,valor_percentual_desconto,valor_aliquota_icms,valor_pedagio,valor_taxa_embarque,valor_total,origem_emissao,in_passagem_cancelada
0,2355826,30069314000101,33191230069314000101,3683057,2019-12-14,1900-01-01 06:49:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11002.0,0.0,2000.0,783.0,614.0,12399.0,Não Se Aplica,NÃO
1,2410799,30069314000101,33191230069314000101,4111198,2019-12-29,1900-01-01 06:38:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11202.0,0.0,2000.0,783.0,614.0,11600.0,Não Se Aplica,NÃO
2,2382193,30069314000101,33191230069314000101,3758997,2019-12-17,1900-01-01 08:30:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11202.0,0.0,2000.0,783.0,614.0,12599.0,Não Se Aplica,NÃO
3,2329070,30069314000101,33191130069314000101,3288636,2019-11-27,1900-01-01 21:01:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11002.0,0.0,2000.0,783.0,614.0,6900.0,Não Se Aplica,NÃO
4,2335327,61084018000103,31191261084018004877,395145,2019-01-12,1900-01-01 12:38:00,Interestadual,6031561,JUIZ DE FORA(MG) - SANTOS(SP),JUIZ DE FORA/MG,...,10,Tarifa Normal - sem desconto,16029.0,0.0,1800.0,1045.0,525.0,17599.0,Não Se Aplica,NÃO

In [87]:
# Exportar arquivo format parquet (menor tamanho e manter formato)
df_final.to_parquet('dados/venda_final.parquet')